*{
    padding: 0;
    margin: 0;
    text-align: center;
}
h2{
    background-color: #001b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    width: 100%;
    padding-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ball{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.ball:hover{
    opacity: 0.5;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
/* *{
    padding: 0;
    margin: 0;
    color: white;
}
header{
    background-color: black;
    height: 60px;
}
#logo{
    color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
button{
    background-color: #f08804;
}
.contentbox{
    height: 100px;
    width: 100px;
    background-color: darkorchid;
    border: 1px solid black;
    display: inline-block;
}
footer{
    background-color: black;
} */
